.vue-skeletor {
  position: relative;
  overflow: hidden;
  background-color: #ccc;
  
  &:not(&--shimmerless) {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#fff, 0),
        rgba(#fff, 0.25),
        rgba(#fff, 0.5),
        rgba(#fff, 0.25),
        rgba(#fff, 0)
      );
      animation: shimmer 1.2s infinite;
      content: '';
    }
  }

  &--rect {
    display: block;
  }

  &--circle {
    border-radius: 50%;
  }

  &--pill, &--text {
    border-radius: 9999px;
  }

  &--text {
    line-height: 1;
    display: inline-block;
    width: 100%;
    height: inherit;
    vertical-align: middle;
    top: -1px;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}