body {
  font-family: 'Roboto';
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.vue-skeletor {
  background-color: black;

  &:not(&--shimmerless) {
    animation: shimmer 1s infinite alternate;

    &:after {
      display: none;
    }
  }
}

@keyframes shimmer {
  100% {
    background-color: #ccc;
  }
}